@using CommentMap.Mvc.ViewModels
@using Humanizer
@model CommentCardViewModel

@{
    var elapsedInterval = DateTime.Now - Model.CreatedAt;
}

<div class="card">
    <h5 class="card-header">@Model.Title</h5>
    <div class="card-body">
        <p class="card-text">@Model.Text</p>
        <div class="d-flex flex-row align-items-center flex-wrap gap-1">
            <a asp-page="/EditComment" class="btn btn-light" role="button">
                <i class="bi bi-pencil-fill"></i>
            </a>
            <form method="post" asp-page-handler="DeleteComment" asp-route-id="@Model.Id">
                <button type="submit" class="btn btn-danger" title="Delete">
                    <i class="bi bi-trash-fill"></i>
                </button>
            </form>
        </div>
    </div>
    <div class="card-footer text-muted">@DateTime.Now.Subtract(elapsedInterval).Humanize()</div>
</div>
