@page
@using CommentMap.Mvc.ViewModels
@model IndexModel
@{

    ViewData["Title"] = "My comments";
}

@section Styles {
    <link rel="stylesheet" href="~/css/ol.min.css" asp-append-version="true" />
}

<h1>My comments</h1>

<nav class="navbar navbar-expand" aria-label="Comments actions">
    <ul class="navbar-nav gap-2">
        <li class="nav-item">
            <a class="btn btn-outline-primary" role="button" asp-page="/Comments/Add">
                <i class="bi bi-plus-circle me-1" aria-hidden="true"></i>
                <span>Add</span>
            </a>
        </li>
    </ul>
</nav>

@if (Model.Comments is not null && Model.Comments.Count > 0)
{
    <div class="row row-cols-2" id="root">
        <div class="col-lg-6 col-5">
            <div class="row row-cols-lg-2 row-cols-1">
                @foreach (var comment in Model.Comments)
                {
                    <div class="col mb-3">
                        <partial name="_CommentCardPartial" model="comment" />
                    </div>
                }
            </div>
        </div>
        <div class="col-lg-6 col-7">
            <div id="map" class="sticky-top mw-100 vh-100"></div>
        </div>
        <partial name="_ConfirmDeletionPartial" />
    </div>
}
else
{
    <h2>There is no comments :(</h2>
}

@section Scripts {
    <script src="~/lib/knockout/build/output/knockout-latest.min.js"></script>
    <script src="~/js/Comments.min.js" asp-append-version="true"></script>
}
