@import "tailwindcss";
@plugin "daisyui" {
  themes: corporate --default, business --prefersdark;
  logs: false;
}

.input-validation-error {
  border-color: var(--color-error);
}

.field-validation-error {
  color: var(--color-error);
}

.validation-summary-errors {
  background-color: color-mix(in oklab, var(--color-error) 12%, transparent);
  border-radius: var(--radius-field);
  border: 1px solid color-mix(in oklab, var(--color-error) 40%, transparent);
}

.validation-summary-errors > ul {
  list-style-type: none;
  padding: 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.validation-summary-errors > ul > li {
  color: var(--color-error);
}
